/* General */
a,
p,
div,
span,
h1,
h2,
h3,
h4,h5 {
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 11px;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

a {
  color: black;
}

* {
  border-radius: 0 !important;
}

/* Navbar */


/*.navbar-nav {
  margin-right: 4em;
}*/

.navbar-primary {
  justify-content: flex-end;
  margin: auto 4rem;
}

.navbar-primary .nav-item {
  margin: 0 0.5rem;
}

.navbar .navbar-nav .nav-link {
  color: black;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/*.navbar-nav span {
  margin-right: 1rem;
  margin-left: 2rem;
}*/

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  color: black;
}

.nav-item {
  position: relative;
}

/*.nav-item:after {
  content: "/";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}*/

.navbar-primary .nav-item:after {
  content: "/";
  position: absolute;
  top: 0.25rem;
  left: auto;
  right: -0.5rem;
}

.navbar-primary .nav-item:last-child:after {
  content: none;
}

.navbar-primary .nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}

.navbar-primary .nav-item:hover:before {
  width: 100%;
}

.nav-social-icon {
  font-size: 16px;
}
